body {
	background-color:black;
	font-family: sans-serif;
}
h1 {
	color:grey;
	text-align: center;
	font-size: 2.5em;
}

form {
	margin: auto;
	width: 50%;
}

#container {
	background-color: white;
	border-radius: 30px;
	margin: auto;
	padding: 15px 15px 20px;
	width: 50%;
	min-width: 385px;
	max-width: 800px;
}

td {
	padding: 4px 10px;
	padding-left: 0px;
}

table {
	margin-bottom: 4px;
}

pre {
	font-family: sans-serif;
	width: 75%;
	margin-left: auto;
}

footer {
	width: 85%;
	margin-left: auto;
}
.highlight {
	background-color: yellow;
}
